@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-bold';
  src: url(/fonts/roboto-bold.woff) format("woff"), 
       url(/fonts/roboto-bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-regular';
  src: url(/fonts/roboto-regular.woff) format("woff"), 
       url(/fonts/roboto-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-medium';
  src: url(/fonts/roboto-medium.woff) format("woff"), 
       url(/fonts/roboto-medium.woff2) format("woff2");
  font-display: swap;
}

.container{
  @apply max-w-[1200px] w-full mx-auto px-2
}

@layer base{
  body{
    @apply bg-primary leading-7 font-regular 
  }

  ul{
    @apply list-none
  }

  img{
    @apply block w-full h-auto  
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-thicker 
  }
  h1{
    @apply text-3xl mb-4
  }
  h2{
    @apply text-xl mb-4
  }
  h3{
    @apply text-lg mb-2
  }
  h4{
    @apply text-base mb-4
  }
  p{
    @apply mb-2 !leading-6 text-lightgray
  }

  /* article img{
    @apply w-full h-[400px] object-cover rounded-xl
  } */
}

@layer components{

  /* Buttons */
  .btn{
    @apply inline-block p-1 border border-transparent text-white rounded-full items-center cursor-pointer 
  }
  .btn-cards{
    @apply bg-accent hover:bg-lightgray p-1 rounded-full transition-all
  }
  .btn-accent{
    @apply bg-accent hover:bg-lightgray p-2 rounded-md transition-all
  }
  .btn-transparent{
    @apply bg-transparent border border-lightgray text-lightgray hover:border-accent hover:text-accent rounded-md
  }

  /* Dashboard Buttons */
  .btn2{
    @apply px-2 py-1 rounded-md text-sm transition-colors flex items-center gap-2
  }

  .btn:disabled{
    @apply cursor-not-allowed opacity-60
  }

  .btn--accent{
    @apply bg-facebook text-white
  }

  .btn--alert{
    @apply bg-red-600 text-white
  }

  .btn--info{
    @apply bg-accent text-white
  }

  .btn--warning{
    @apply bg-yellow-600 text-white
  }

  .btn-form{
    @apply p-2 w-1/2 flex justify-center gap-2 items-center
  }

  .btn--cancel{
    @apply bg-gray-600 text-white
  }


  /* Cards */

  /* Nav */
  nav{
    @apply h-auto max-h-0 transition-all overflow-hidden duration-500
  }

  nav.show{
    @apply max-h-[400px]
  }

  /* Dashboard Nav */
  .dashboard-nav{
    @apply space-y-4 mt-[100px]
  }

  .nav-link {
    @apply p-1 pl-8
  }

  .nav-link a{
    @apply flex gap-3 items-center
  }

  .nav-link.active{
    @apply border-l border-accent
  }

  .nav-link.active a{
    @apply text-accent
  }

  .tab-link{
    @apply px-8 py-2 hover:bg-accent hover:text-lightcolor rounded-lg flex
  }

  
  .tab-link.active a{
    @apply text-primary hover:text-lightcolor
  }

  /* Loader */
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-accent to-transparent animate-loading;
  }

  /* Table */
  table{
    @apply w-full text-sm 
  }

  table th{
    @apply font-bold py-4 px-2 text-left 
  }

  table td{
    @apply p-2 text-left  
  }

  .table-action ul{
    @apply flex gap-4
  }

  .form-action{
    @apply flex gap-2 justify-end
  }

  .tooltip{
    @apply text-base relative
  }

  .tooltip:after{
    @apply absolute content-[attr(data-tooltip)] text-xs p-0.5 px-1.5 text-lightcolor bg-accent bg-opacity-90 top-[calc(100%+10px)]
     left-1/2 -translate-x-1/2 scale-0 transition-transform z-50
  }

  .tooltip:hover::after{
    @apply scale-100
  }

  .input-wrap{
    @apply mb-3 relative
  }

  .input-wrap label {
    @apply mb-1 block text-xs
  }

  .input-wrap input, textarea, select{
    @apply block w-full p-1 rounded-md outline-none border-2 focus:border-facebook focus:bg-primary/5 focus:text-darkcolor text-darkcolor
  }

  .input-wrap small{
    @apply absolute top-0 right-1 text-red-500 italic text-xs
  }
}